@rendermode InteractiveAuto
@inject DialogService DialogService

<RadzenButton Text="About" ButtonStyle="ButtonStyle.Base" Click=@ShowDialog />

@code {
    async Task ShowDialog()
    {
        await DialogService.OpenAsync("About", ds =>
    @<RadzenStack Gap="1.5rem">
    <p>Version 2504.1-beta</p>    
    <p>This product is not developed, supported, or affiliated with TOPdesk. Best effort only.</p>
        <RadzenButton Text="Close" Click="() => ds.Close(true)" Style="width: 100px;" />
    </RadzenStack>);
    }
}
