@rendermode InteractiveAuto
@inject DialogService DialogService

<RadzenButton Text="Status Page" ButtonStyle="ButtonStyle.Base" Click="@(() => OpenUrl("https://status.topdesk.com"))" Style="margin-right: 10px;" />
<RadzenButton Text="My TOPdesk" ButtonStyle="ButtonStyle.Base" Click="@(() => OpenUrl("https://my.topdesk.com"))" Style="margin-right: 10px;" />
<RadzenButton Text="About" ButtonStyle="ButtonStyle.Base" Click=@ShowDialog />



@code {
    async Task ShowDialog()
    {
        await DialogService.OpenAsync("About", ds =>
    @<RadzenStack Gap="1.5rem">
    <p>Version 2504.3-beta</p>    
    <p>This product is not developed, supported, or affiliated with TOPdesk. Best effort only.</p>
        <RadzenButton Text="Close" Click="() => ds.Close(true)" Style="width: 100px;" />
    </RadzenStack>);
    }

    [Inject] IJSRuntime JS { get; set; }

    private async Task OpenUrl(string url)
    {
        await JS.InvokeVoidAsync("open", url, "_blank");
    }
}
