@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Identity;

<RadzenDialog />
<RadzenTooltip />
<RadzenContextMenu />
<RadzenComponents @rendermode="InteractiveAuto" />

<style>
    :root {
        --rz-primary: #0a7da0 !important;
    }

    .rz-sidebar-toggle:focus-visible, .rz-sidebar-toggle:hover{
        background: #0a7da0 !important;
    }

    .rz-pager-page.rz-state-active{
        background-color: #dcf1ef !important;
        color: #0a7da0 !important;
    }

    .rz-state-highlight.rz-menuitem:hover, .rz-state-highlight.rz-autocomplete-list-item:hover, .rz-state-highlight.rz-multiselect-item:hover, .rz-autocomplete-items li.rz-state-highlight:hover, .rz-dropdown-items li.rz-state-highlight:hover, .rz-multiselect-items li.rz-state-highlight:hover, .rz-dropdown-item.rz-state-highlight:hover{
        background-color: #dcf1ef !important;
        color: #0a7da0 !important;
    }

    .rz-state-highlight.rz-menuitem, .rz-state-highlight.rz-autocomplete-list-item, .rz-state-highlight.rz-multiselect-item, .rz-autocomplete-items li.rz-state-highlight, .rz-dropdown-items li.rz-state-highlight, .rz-multiselect-items li.rz-state-highlight, .rz-dropdown-item.rz-state-highlight{
        background-color: #dcf1ef !important;
        color: #0a7da0 !important;
    }
</style>

<RadzenLayout>
    <Sidebar />
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
<!--
<div class="page">
    
    <main>

        <div class="top-row">
            <Header />
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>


</div>
-->

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>