:root {
    --rz-primary: #0a7da0 !important;
}

.rz-sidebar-toggle:focus-visible, .rz-sidebar-toggle:hover {
    /* background: #0a7da0 !important;*/
    background: var(--rz-primary);
}

.rz-pager-page.rz-state-active {
    background-color: #dcf1ef !important;
    color: #0a7da0 !important;
}

.rz-state-highlight.rz-menuitem:hover, .rz-state-highlight.rz-autocomplete-list-item:hover, .rz-state-highlight.rz-multiselect-item:hover, .rz-autocomplete-items li.rz-state-highlight:hover, .rz-dropdown-items li.rz-state-highlight:hover, .rz-multiselect-items li.rz-state-highlight:hover, .rz-dropdown-item.rz-state-highlight:hover {
    background-color: #dcf1ef !important;
    color: #0a7da0 !important;
}

.rz-state-highlight.rz-menuitem, .rz-state-highlight.rz-autocomplete-list-item, .rz-state-highlight.rz-multiselect-item, .rz-autocomplete-items li.rz-state-highlight, .rz-dropdown-items li.rz-state-highlight, .rz-multiselect-items li.rz-state-highlight, .rz-dropdown-item.rz-state-highlight {
    background-color: #dcf1ef !important;
    color: #0a7da0 !important;
}

.rz-scheduler-nav-views .rz-button.rz-primary.rz-state-active {
    background-color: #dcf1ef !important;
    color: #0a7da0 !important;
}

.rz-year-view .rz-slot .rz-slot-title.rz-has-appointments {
    background-color: #dcf1ef !important;
    color: #0a7da0 !important;
}

.rz-tabview-panel {
    padding: 1rem 0 1rem 0;
}
